@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&family=IBM+Plex+Sans+KR&display=swap"); */

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: white;

  /* font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal; */
}
